body {
	background-color: #000000;
	color: #EFDFAF;
	font-family: "VT323",cursive;
}

h1 {
	text-align: center;
	font-size: 42px;
}

h2 {
	font-size: 31px;
}

hr {
	border-color: #DFBF5F;
}

input:focus {
	outline: 0;
}

#mainTable {
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
}

#canvas {
	border-style: solid;
	border-width: 1px;
	border-color: #EFDFAF;
}

#canvas_cell {
	text-align: center;
}

.submitCanvas {
	margin-left: 10px;
}

#infotable {
	width: 100%;
	text-align: center;
	font-size: 24px;
}

#title {
	width: 45%;
	color: #DFBF5F;
	text-align: right;
}

#author {
	width: 45%;
	color: #DFBF5F;
	text-align: left;
}

#by {
	width: 10%;
}

a:visited {
	color: #DFBF5F;
}

a {
	color: #DFBF5F;
	text-decoration: none;
}

#personalUrl {
	color: #DFBF5F;
	color: #DFBF5F;
	border-bottom: 2px solid #DFBF5F;
}

.navtd {
	text-align: center;
	padding-top: 35px;
}

#navGalleryButton {
	margin-top: 5px;
	margin-right: 10px;
}

#navSubmitButton {
	margin-top: 5px;
	margin-right: 10px;
}

#navContactButton {
	margin-top: 5px;
	margin-left: 10px;
}

#AL {
	width: 42px;
	margin-right: 25px;
}

#AR {
	width: 42px;
	margin-left: 25px;
}

.textBox {
	background-color: #000000;
	border: 1px solid #EFDFAF;
	color: #EFDFAF;
	border-radius: 3px;
	text-align: center;
}

.urltb {
	margin-bottom: 10px;
	margin-right: 10px;
	margin-left: 10px;
	width: 138px;
}

.sizetb {
	margin-top: 10px;
	margin-bottom: 5px;
	width: 32px;
}

#customSizeInput {
	display: none;
}

#textBoxShare {
	margin-top: 30px;
	width: 300px;
}

p {
	font-size: 20px;
}

.marg {
	margin-left: 20px;
	margin-right: 20px;
}

ul {
	color: #EFDFAF;
	font-family: "VT323",cursive;
	font-size: 20px;
}

#link {
	color: #DFBF5F;
}

.centerTd {
	text-align: center;
}

button {
	background-color: #000000;
	border: 1px solid;
	border-color: #EFDFAF;
	color: #EFDFAF;
	font-family: "VT323",cursive;
}

button:focus {
	outline: 0;
}

button.big {
	font-size: 24px;
}

button.medium {
	font-size: 20px;
}

button.small {
	font-size: 16px;
}

button.untoggled {
	border-style: outset;
}

button.toggled {
	color: #DFBF5F;
	border-style: inset;
	border-color: #DFBF5F;
}

button.disabled {
	color: #454032 !important;
	border-color: #454032 !important;
}

#defaultButton {
	margin-top: 10px;
}

#defaultButton, #autoButton, #customButton {
	margin-bottom: 6px;
	width: 80px;
}

#testButton, #adjustButton {
	margin-top: 10px;
	margin-bottom: 10px;
}

button.important {
	color: #DFBF5F;
}

#copyButton {
	margin-left: 10px;	
}

.settingsTitle {
	font-size: 22px;
}

.text {
	font-size: 24px;
}

.qtip-custom .qtip-content, .qtip-titlebar{
	font-size: 14px;
}

input.invalid {
    border: 1px solid #f06d65;
}

#modalScreen {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #EFDFAF;
	z-index: 999;
	opacity: 0.2;
	display: none;
}

.modalDialog {
	position: fixed;
	top: 40%;
	left: 50%;
	margin-top: -90px;
	margin-left: -170px;
	width: 340px;
	height: 180px;
	padding-bottom: 20px;
	padding-top: 20px;
	background: black;
	border-style: solid;
	border-width: 1px;
	border-color: #EFDFAF;
	text-align: center;
	font-size: 22px;
	z-index: 1000;
	display: none;
}

.dialogButtonSet {
	margin-top: 20px;
}

#titleTb {
	margin-top: 15px;
	margin-bottom: 20px;
	width: 250px;
}

.adjustButton {
	display: none;
	margin-bottom: 10px;
	margin-right: 10px;
	margin-left: 10px;
	width: 138px;
}

#authorTb {
	margin-top: 15px;
	width: 250px;
}

#loadingImage {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -50px;
	margin-left: -50px;
	width: 100px;
	height: 100px;
	display: none;
}

.cursorMove {
	cursor: move;
}

#submissionInfo {
	display: none;
}

.rotating_icon{
    -webkit-animation:spin 1.5s linear infinite;
    -moz-animation:spin 1.5s linear infinite;
    animation:spin 1.5s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }