body {
	background-color: #000000;
	color: #EFDFAF;
	font-family: "VT323",cursive;
}

h1 {
	text-align: center;
	font-size: 42px;
}

h2 {
	font-size: 31px;
}

hr {
	border-color: #DFBF5F;
}

#mainTable {
	margin-left: auto;
	margin-right: auto;
}

#canvas {
	border-style: solid;
	border-width: 1px;
	border-color: #EFDFAF;
}

#canvas_cell {
	text-align: center;
}

.submitCanvas {
	margin-left: 10px;
}

#infotable {
	width: 100%;
	text-align: center;
	font-size: 24px;
}

#title {
	width: 45%;
	color: #DFBF5F;
	text-align: right;
}

#author {
	width: 45%;
	color: #DFBF5F;
	text-align: left;
}

#by {
	width: 10%;
}

a:visited {
	color: #EFDFAF;
}

a {
	text-decoration: none;
}

.navtd {
	width: 100px;
}

#personalUrl {
	color: #DFBF5F;
	color: #DFBF5F;
	border-bottom: 2px solid #DFBF5F;
}

#navigationTable {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 24px;
}

#AL {
	width: 42px;
	margin-right: 25px;
}

#AR {
	width: 42px;
	margin-left: 25px;
}


.textBox {
	background-color: #000000;
	border: 1px solid #EFDFAF;
	color: #EFDFAF;
	border-radius: 3px;
	text-align: center;
}

.urltb {
	margin-bottom: 10px;
	margin-right: 10px;
	margin-left: 10px;
}

.sizetb {
	margin-top: 10px;
	margin-bottom: 5px;
	width: 30px;
}

#customSizeInput {
	display: none;
}

#textBoxShare {
	margin-top: 30px;
	width: 300px;
}

p {
	font-size: 20px;
}

.marg {
	margin-left: 20px;
	margin-right: 20px;
}

ul {
	color: #EFDFAF;
	font-family: "VT323",cursive;
	font-size: 20px;
}

#link {
	color: #DFBF5F;
}

.centerTd {
	text-align: center;
}

button {
	background-color: #000000;
	border: 1px solid;
	border-color: #EFDFAF;
	color: #EFDFAF;
	font-family: "VT323",cursive;
}

button.big {
	font-size: 24px;
}

button.medium {
	font-size: 20px;
}

button.small {
	font-size: 16px;
}

button.untoggled {
	border-style: outset;
}

button.toggled {
	color: #DFBF5F;
	border-style: inset;
	border-color: #DFBF5F;
}

button.disabled {
	color: #454032 !important;
	border-color: #454032 !important;
}

#defaultButton {
	margin-top: 10px;
}

#defaultButton, #autoButton, #customButton {
	margin-bottom: 6px;
	width: 80px;
}

#testButton, #adjustButton {
	margin-top: 10px;
	margin-bottom: 10px;
}

button.important {
	color: #DFBF5F;
}

#copyButton {
	margin-left: 10px;	
}

.settingsTitle {
	font-size: 22px;
}

.text {
	font-size: 24px;
}