body {
	background-color:#000000;
}

h1 {
	color:#EFDFAF;
	text-align:center;
	font-family:"VT323",cursive;
	font-size:42px;
}

h2 {
	color:#EFDFAF;
	font-family:"VT323",cursive;
	font-size:31px;
}

hr {
	border-color:#DFBF5F;
}

.tableText {
	width:341px;
	text-align:center;
	color:#EFDFAF;
	font-family:"VT323",cursive;
	font-size:24px;
}

.personals {
	color:#DFBF5F;
}

a:link {
	color:#EFDFAF;
}

a:visited {
	color:#EFDFAF;
}

a {
	text-decoration:none;
}

.navtd {
	width:100px;
}

#personalUrl {
	color:#DFBF5F;
	color:#DFBF5F;
	border-bottom:2px solid #DFBF5F;
}

#navigationTable {
	margin-left:auto;
	margin-right: auto;
	text-align: center;
	color:#EFDFAF;
	font-family:"VT323",cursive;
	font-size:24px;
}

#canvasDiv {
	width:1394px;
	margin-left:auto;
	margin-right:auto;
}

#AL {
	margin-top:auto;
	margin-bottom:auto;
	margin-right:20px;
}

#AR {
	margin-top:auto;
	margin-bottom:auto;
	margin-left:20px;
}

#shareDiv {
	text-align:center;
	margin-top:50px;
	color:#EFDFAF;
	font-family:"VT323",cursive;
	font-size:24px;
}

#textBoxShare {
	background-color:#000000;
	border: 1px solid #EFDFAF;
	width:240px; color:#EFDFAF;
	border-radius:3px;
	text-align:center;
}

p {
	color:#EFDFAF;
	font-family:"VT323",cursive;
	font-size:20px;
}

.marg {
	margin-left:20px;
	margin-right:20px;
}

ul {
	color:#EFDFAF;
	font-family:"VT323",cursive;
	font-size:20px;
}

span.center_text_button {
	display:block;
	color:#DFBF5F;
	text-align:center;
	font-family:"VT323",cursive;
	font-size:31px;
}

#link{
	color:#DFBF5F;
}